* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
}
.header-section {
  background-image: url(images/pic01.webp);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 200px;
}
.container h2 {
  font-size: 50px;
  color: magenta;
  margin-bottom: 10px;
}
.container h1 {
  font-size: 60px;
  color: rgb(124, 255, 53);
}
.text {
  text-align: center;
  font-size: 40px;
  color: rgb(49, 45, 45);
  background: #ccc;
  padding: 20px 100px;
  margin-top: 30px;
}

img {
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
}
.project-section {
  border: 1px solid #666;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 1px;
}
.section-3 {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 3% 10%;
  gap: 30px;
}

.description {
  width: 300px;
  text-align: justify;
}

.title {
  font-size: 20px;
  color: rgb(45, 38, 38);
  margin-bottom: 10px;
}
