@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

aside {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
aside .bar {
  margin-left: 40px;
  font-size: 30px;
}
.side-icons {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.side-icons p {
  font-size: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
nav {
  margin: 0 auto;
  margin-top: -235px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-nav input {
  width: 600px;
  padding: 10px;
  background-color: #ddd;
  font-size: 20px;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.center-nav .light {
  background-color: #ddd;
  padding: 12px;
  font-size: 20px;
  margin-left: -5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.center-nav .mic {
  background-color: #ddd;
  font-size: 20px;
  padding: 15px;
  border-radius: 30px;
  margin-left: 15px;
}

.side-nav {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.side-nav .user {
  background-color: #dddd;
  padding: 15px;
  border-radius: 30px;
  margin-left: 20px;
  color: blue;
}

.border {
  width: 85%;
  border: 1px solid #666;
  margin: 0 auto;
  margin-top: 30px;
}
.tag {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.tag li {
  list-style: none;
  background: #ddd;
  padding: 5px;
  border-radius: 40px;
  margin-bottom: 20px;
}

.tag .html {
  background: #000;
  color: #fff;
}

.video-section {
  padding: 15px;
  background: #ddd;
  margin-top: 20px;
  width: 85%;
  margin: 0 auto;
}
.video-section .profile {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.video-section img {
  width: 350px;
  height: 200px;
  border-radius: 5px;
}
.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title h1 {
  font-size: 20px;
}
.video-section h3 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 60px;
}
.view {
  margin-left: 58px;
  display: flex;
  align-items: center;
  gap: 50px;
}
