* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  margin-top: 70px;
}
.small {
  font-size: 20px;
}
.form-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
}
.form-control {
  display: flex;
  flex-direction: column;
}
input,
select,
textarea {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
label {
  font-size: 20px;
  margin-bottom: 5px;
}

input,
select,
textarea:focus {
  outline-color: orangered;
}

.btn {
  margin-left: 500px;
  padding: 12px 30px;
  color: white;
  background: red;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 50px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.btn:hover {
  background: #ccc;
  transition: 0.3s ease-out;
}

.textarea-control {
  grid-column: 1 / span 2;
}

.textarea-control textarea {
  width: 100%;
}

@media (max-width: 460px) {
  .textarea-control {
    grid-column: 1 / span 1;
  }
  .form-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 20px;
  }
}
