:root {
  --lighting-color: rgb(74, 255, 3);
  --darker-color: rgb(4, 4, 64);
  --dark-color: #000;
  --yellow-color: rgb(255, 255, 50);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background: var(--lighting-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  background: var(--yellow-color);
  border-radius: 10px;
  padding: 2px;
  font-size: 40px;
  font-weight: bold;
}
.logo {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
ul li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

ul li:hover {
  border-bottom: 3px solid var(--yellow-color);
}

.hero-section {
  padding: 50px;
  background: var(--darker-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 4px solid var(--lighting-color);
}

.hero img {
  -webkit-animation: tilt-in--1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: all ease-in 1s;
}
@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

span {
  font-size: 35px;
  color: var(--yellow-color);
}
h1 {
  color: tomato;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  color: var(--lighting-color);
  font-size: 50px;
  font-weight: 700;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.project-section {
  background: var(--darker-color);
}
.title {
  color: white;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  padding: 20px;
}
.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
.project {
  display: grid;
  place-items: center;
}

.card img {
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
  opacity: 5.05;
}
.card img:hover {
  transform: scale(1.05);
  transition: 0.03s ease-in-out;
  opacity: 0.8;
}
.card:hover .name p {
  background: white;
  padding: 25px 100px;
}
.name p {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  margin-top: -60px;
  margin-bottom: 60px;
  transition: 0.05s ease-in-out;
  text-align: center;
  
}
