@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: rgb(3, 245, 3);
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 30px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu li {
  font-size: 25px;
  font-weight: 400;
}
.menu i {
  font-size: 25px;
  font-weight: 400;
}
