@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  background-color: rgb(3, 245, 3);
  padding: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 30px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu li {
  font-size: 25px;
  font-weight: 400;
}
.menu i {
  font-size: 25px;
  font-weight: 400;
}

.header {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

img {
  width: 700px;
  height: 500px;
  border-radius: 20px;
}
.text h1 {
  font-size: 60px;
  letter-spacing: 3.5px;
  margin-bottom: 10px;
}
.text p {
  font-size: 20px;
  letter-spacing: 2.5px;
  text-align: center;
}
.main {
  margin-left: 100px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main-section p {
  width: 50%;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
.main-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.read {
  display: flex;
  justify-content: space-between;
}
.more {
  color: green;
}
.grid {
  width: 70%;
  margin-left: 200px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 50px;
}
.grid-span img {
  width: 400px;
  height: 200px;
}
.grid-span .grid-section {
  width: 400px;
}
.grid-section .read {
  margin-top: 20px;
}
.grid-section p {
  text-align: justify;
}
.third-section {
  width: 70%;
  margin-top: 80px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #f6f4f4;
  padding: 20px;
  border-radius: 5px;
}
button {
  background-color: rgb(52, 247, 52);
  color: black;
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.img-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-section img {
  width: 500px;
  height: 500px;
}

.img-section button {
  align-self: end;
}
