* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.pic1 {
  background-image: url(images/pic4.jpg);
  min-height: 100vh;
}

.pic2 {
  background-image: url(images/pic.jpg);
  min-height: 600px;
}
.pic3 {
  background-image: url(images/pic2.jpg);
  min-height: 600px;
}
.pic4 {
  background-image: url(images/pic3.jpg);
  min-height: 600px;
}
.pic1,
.pic2,
.pic3,
.pic4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #666;
  background-color: #fff;
  padding: 30px;
}
.section1 {
  padding: 100px 70px;
  text-align: center;
}

.section1 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}

.section1 p {
  font-size: 20px;
  text-align: justify;
}

.text2 {
  position: absolute;
  top: 50%;
  left: 35%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ddd;
  padding: 20px 200px;
  color: #363232;
}
.section2 {
  padding: 100px 70px;
  text-align: center;
  background-color: #666;
}

.section2 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 20px;
}

.section2 p {
  font-size: 20px;
  text-align: justify;
  color: #bfbbbb;
}

.text3 {
  position: absolute;
  top: 40%;
  left: 32%;
  text-align: center;
  color: #afa8a8;
  background-color: #666;
  padding: 20px 200px;
}

.section3 {
  padding: 100px 70px;
  text-align: center;
  background-color: #fff;
}

.section3 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ccc;
  margin-bottom: 20px;
}

.section3 p {
  font-size: 20px;
  text-align: justify;
  color: #363232;
}

.text4 {
  position: absolute;
  top: 50%;
  left: 32%;
  text-align: center;
  color: #fff;
  background-color: #666;
  padding: 20px 200px;
}
